@charset "utf-8";
@import url("../../font/pretendard/pretendard-gov.css");
@import url("../../font/XEIcon-2.3.3/xeicon.css");
@import url("../../font/RemixIcon_Fonts_v4.6.0/remixicon.css");
@import url("../../font/NotoSansKR/fonts.css");
@import url("../../font/nanummyeongjo/nanummyeongjo.css");

/*-------------------------------------------------
Author : KLIC
Create date : 2023. 11. 01. RESET SY,CHo
-------------------------------------------------*/

.hid {position: absolute; margin: -1px; padding: 0; width: 1px; height: 1px; border: 0; clip: rect(0, 0, 0, 0); overflow: hidden;}
.al {text-align: left !important;}
.ac {text-align: center !important;}
.ar {text-align: right !important;}
.fl {float: left !important;}
.fr {float: right !important;}

.clearfix:after {clear: both; display: block; content: '';}


@media (max-width: 768px){
	body {font-size: 1.6rem;}
}

@media (max-width: 560px){
	body {font-size: 1.5rem;}
}

*:focus {outline: 0.2rem dashed #6F6F6F; box-shadow: none; outline-offset: 0.1rem; z-index: 1;}
.hpcmIcon { right:0; top:0; width:30px; height:28px; font-size:0; background:url("/images/ap/help.png") no-repeat;}